<div class="w-25 mt-5 m-auto">

    <div class="todoList bg-info p-3 rounded-top text-center">
        <a class="text-white text-decoration-none" routerLink="/home"> Todo-List |</a>
        <a class="text-white text-decoration-none" routerLink="/about"> About |</a>
        <a class="text-white text-decoration-none" routerLink="/contact"> Contact </a>
     </div>

     <div class="bg-light p-3">
        <h5 class="fw-bold">Contact</h5>
        <p class="mt-3">This is the TodoList app v2.0.5 It is part of a Angular crash course & now I am developing full stack application</p>
        <span>TOOLS & TECHNOLOGY USED</span>
    </div>

</div>
