
<div class="w-75 mt-5 m-auto text-center">
    <app-navigation></app-navigation>
    <div class="addTodo bg-secondary p-3 rounded-bottom">
        <div class="inputBox bg-dark p-3 rounded">
            <div>
                <input [(ngModel)]="todoTitle" placeholder="Add a title" class="form-control" type="text"> 
            </div>
            <br>
            <div>
                <input [(ngModel)]="todoDesc" placeholder="Add descreption" class="form-control" type="text"> 
            </div>
             <button (click)="addToList()" class="btn btn-info mt-3">Submit</button>
        </div>
        <div>
            <ul class="list-group">
                <li *ngFor="let task of tasks" class="list-group-item"> {{task.title}}, {{task.description}} </li>
              </ul>
         </div>
    </div>
</div>

