
<div class="w-25 mt-5 m-auto text-center">
    <div class="todoList bg-info p-3 rounded-top">
        <a class="text-white text-decoration-none" routerLink="/home"> Todo-List |</a>
        <a class="text-white text-decoration-none" routerLink="/about"> About |</a>
        <a class="text-white text-decoration-none" routerLink="/contact"> Contact </a>
    </div>
    <div class="addTodo bg-secondary p-3 rounded-bottom">
        <div class="inputBox bg-dark p-3 rounded">
            <div>
                <input placeholder="Add your todo" class="form-control" type="text"> 
            </div>
             <button type="button" class="btn btn-info mt-3">Submit</button>
        </div>
    </div>
</div>

